#include <zephyr/dt-bindings/usb/video.h>

&zephyr_udc0 {
	endpoints {
		ep@81 {
			num-trbs = <16>;
			uvcmanager = <&uvcmanager>;
		};
	};

	uvc0: zephyr_uvc0 {
		compatible = "zephyr,uvc";
		source = <&uvcmanager>;
		status = "okay";

		format_uncompressed {
			compatible = "zephyr,uvc-format-uncompressed", "zephyr,uvc-format";
			fourcc = "YUYV";
			guid = [UVC_GUID_YUY2];
			bits-per-pixel = <16>;

			4k {
				size = <3840 2160>;
				max-fps = <22>;
			};

			FHD {
				size = <1920 1080>;
				max-fps = <87>;
			};

			VGA {
				size = <640 480>;
				max-fps = <589>;
			};

			qVGA {
				size = <320 240>;
				max-fps = <2347>;
			};
		};
	};
};
