#include <zephyr/dt-bindings/usb/video.h>

/ {
	chosen {
		zephyr,shell-uart = &cdc0;
	};
};

&zephyr_udc0 {
	endpoints {
		/* For UVC */
		ep@81 {
			reg = <0x81>;
			num-trbs = <4>;

			/* This example transfers data from RAM: no
			 * uvcmanager = <&...>; here
			 */
		};

		/* For CDC ACM */
		ep@1 {
			reg = <0x01>;
			num-trbs = <4>;
		};
		ep@82 {
			reg = <0x82>;
			num-trbs = <4>;
		};
		ep@83 {
			reg = <0x83>;
			num-trbs = <4>;
		};
	};

	cdc0: zephyr_cdc0 {
		compatible = "zephyr,cdc-acm-uart";
	};

	uvc0: zephyr_uvc0 {
		compatible = "zephyr,uvc";

		uvc0it: input_terminal {
			compatible = "zephyr,uvc-control-it";
		};
		uvc0ot: output_terminal {
			compatible = "zephyr,uvc-control-ot";
			source-entity = <&uvc0it>;
		};

		format_uncompressed {
			compatible = "zephyr,uvc-format-uncompressed";
			fourcc = "YUYV";
			guid = [UVC_GUID_YUY2];
			bits-per-pixel = <16>;

			rectangle {
				size = <130 8>;
				max-fps = <1>;
			};

			square {
				size = <33 33>;
				max-fps = <1>;
			};
		};
	};
};
