#include <zephyr/dt-bindings/usb/video.h>

/ {
	chosen {
		zephyr,shell-uart = &cdc0;
	};
};

&zephyr_udc0 {
	cdc0: zephyr_cdc0 {
		compatible = "zephyr,cdc-acm-uart";
	};

	uvc0: zephyr_uvc0 {
		compatible = "zephyr,uvc";

		uvc0it: input_terminal {
			compatible = "zephyr,uvc-control-it";
		};
		uvc0ot: output_terminal {
			compatible = "zephyr,uvc-control-ot";
			source-entity = <&uvc0it>;
		};

		format_uncompressed {
			compatible = "zephyr,uvc-format-uncompressed";
			fourcc = "YUYV";
			guid = [UVC_GUID_YUY2];
			bits-per-pixel = <16>;

			rectangle {
				size = <128 20>;
				max-fps = <1>;
			};

			square {
				size = <64 64>;
				max-fps = <1>;
			};
		};
	};
};
