# Copyright (c) 2025 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config VIDEO_AR0144
	bool "AR0144"
	depends on DT_HAS_TINYVISION_AR0144_ENABLED
	default y
	help
	  Enable driver for the AR0144 camera.
