# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config VIDEO_TINYVISION_CUSTOMCORE
	bool "Example of custom RTL defined by the application"
	depends on DT_HAS_TINYVISION_CUSTOMCORE_ENABLED
	default y
	help
	  Enable driver for an application-specific FPGA peripheral.
