/ {
	chosen {
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		lattice,usb23-dma = &ram1;
	};

	soc {
		flash0: flash@20100000 {
			reg = <0x20100000 0x100000>;
			compatible = "soc-nv-flash";
			status = "okay";
		};

		ram1: memory@b1000000 {
			device_type = "memory";
			reg = <0xb1000000 0x400>;
			//reg = <0x40008000 0x400>;
		};

		zephyr_udc0: usbd@b0000000 {
			compatible = "lattice,usb23";
			reg = <	0xb0000000 0x1000000
				0xe0004000 0x4
				0xe0004004 0x4
				0xe0004008 0x4>;
			reg-names =
				"base",
				"ev_status",
				"ev_pending",
				"ev_enable";
			num-bidir-endpoints = <2>;
			maximum-speed = "full-speed";
			interrupts = <0x0 0>;
			interrupt-names = "usb";
			interrupt-parent = <&intc0>;
			status = "okay";

			block-size = <10240>;

			uvc_0: zephyr_uvc {
				compatible = "zephyr,uvc";
				// TODO use a memory region and reference the phandle
				payload-addr = <0xb1100000>;
				payload-size = <38400>;
				status = "okay";
			};
		};
	};
};
