/*
 * Copyright (c) 2025 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <riscv/tinyvision/from_csi0_to_stats0.dtsi>
#include <riscv/tinyvision/from_csi0_to_debayer0.dtsi>
#include <riscv/tinyvision/from_debayer0_to_uvcmanager0.dtsi>

#include <riscv/tinyvision/add_i2c0_pll.dtsi>
#include <riscv/tinyvision/add_i2c0_multiplexer.dtsi>

/ {
	chosen {
		zephyr,shell-uart = &cdc_acm_uart0;
	};
};

/* USB interfaces */

&zephyr_udc0 {
	num-in-endpoints = <4>;
	num-out-endpoints = <2>;
	status = "okay";

	cdc_acm_uart0: cdc-acm-uart {
		compatible = "zephyr,cdc-acm-uart";
	};

	uvc0: uvc0 {
		compatible = "zephyr,uvc-device";
		interface-name = "tinyCLUNX33-PodA-Top";
	};
};

&uvcmanager0 {
	usb-endpoint = <0x83>;
};

/* Camera 0 config */

&csi0_ep_in {
	remote-endpoint-label = "imx219ch0_ep_out";
};

&i2c0ch0 {
	imx219ch0@10 {
		compatible = "sony,imx219";
		reg = <0x10>;

		port {
			imx219ch0_ep_out: endpoint {
				remote-endpoint-label = "csi0_ep_in";
			};
		};
	};
};
