zephyr_udc0: &usb0 {
	num-bidir-endpoints = <3>;
	num-endpoint-trb = <2 2  3 3  3 400>;
	maximum-speed = "super-speed";

	zephyr_cdc_raw_0 {
		compatible = "zephyr,cdc-raw";
		status = "okay";
	};
};
