/*
 * Copyright (c) 2024 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart0;
	};
};

/* This builds a complete chain through "source = <&...>;":
 * - USB Video Class (UVC), exposing the controls to the host and communicating with it.
 * - UVC Manager, controlled by the UVC class protocol, doing I/O between the sensor and USB.
 * - IMX219 sensor, with configuration coming from the UVC Manager and the host before it.
 */
#if 0
&zephyr_udc0 {
	status = "okay";

	endpoints {
		/* For UVC */
		ep@81 {
			reg = <0x81>;
			num-trbs = <4>;
			uvcmanager = <&uvcmanager0>;
		};
	};

	uvc0: uvc {
		compatible = "zephyr,uvc-device";

		port {
			uvc0_ep_in: endpoint {
				remote-endpoint-label = "uvcmanager0_ep_out";
			};
		};
	};
};

&uvcmanager0 {
	source = <&imx219>;
	fourcc = "BGGR";
	/* The UVC Manager will add 2 pixels itself when setting the format of the image sensor. */
	size-adjust = <2 2>;
	status = "okay";

	port {
		uvcmanager0_ep_out: endpoint {
			remote-endpoint-label = "uvc0_ep_in";
		};
	};
};
#endif

&i2c0 {
	status = "okay";
	pca9542a@71 {
		compatible = "nxp,pca9542a";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;
		ch@0 {
			compatible = "nxp,pca9542a-channel";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			imx219: imx219@10 {
				compatible = "sony,imx219";
				reg = <0x10>;
			};
		};
	};
};
