/*
 * Copyright (c) 2024 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart0;
	};

    dummy_sxga: dummy-sxga {
        compatible = "tinyvision,dummy-sxga";

        port {
            video0_ep_out: endpoint {
                remote-endpoint-label = "uvc0_ep_in";
            };
        };
    };
};


&uvcmanager0 {
	usb-endpoint = <0x81>;
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		uvcmanager0_ep_in: endpoint@0 {
			reg = <0x0>;
			remote-endpoint-label = "dummy_sxga_ep_out";
		};

		uvcmanager0_ep_out: endpoint@1 {
			reg = <0x1>;
			remote-endpoint-label = "uvc0_ep_in";
		};
	};
};

&zephyr_udc0 {
	num-out-endpoints = <1>;
	num-in-endpoints = <2>;
	maximum-speed = "super-speed";
	status = "okay";

	uvc0: uvc {
		compatible = "zephyr,uvc-device";

		port {
			uvc0_ep_in: endpoint {
				remote-endpoint-label = "uvcmanager0_ep_out";
			};
		};
	};
};
