/*
 * Copyright (c) 2024 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart0;
	};
};

&i2c0 {
	status = "okay";

	pca9542a@71 {
		compatible = "nxp,pca9542a";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;

		ch@0 {
			compatible = "nxp,pca9542a-channel";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			imx219: imx219@10 {
				compatible = "sony,imx219";
				reg = <0x10>;

				port {
					imx219_ep_out: endpoint {
						remote-endpoint-label = "debayer0_ep_in";
					};
				};
			};
		};
	};
};

&debayer0_ep_in {
	remote-endpoint-label = "imx219_ep_out";
};

&uvcmanager0 {
	usb-endpoint = <0x81>;
};

&uvcmanager0_ep_out {
	remote-endpoint-label = "uvc0_ep_in";
};

&zephyr_udc0 {
	num-out-endpoints = <1>;
	num-in-endpoints = <2>;
	maximum-speed = "super-speed";
	status = "okay";

	uvc0: uvc {
		compatible = "zephyr,uvc-device";

		port {
			uvc0_ep_in: endpoint {
				remote-endpoint-label = "uvcmanager0_ep_out";
			};
		};
	};
};
